body {
	background: #181818 url( '/Images/02.jpg' ) left top no-repeat;
	margin-left: 350px;
	text-align: left
	color:#ffffff;
	font-family: Sans;
	font-size:11px;
	margin-top: 25%;
}
a {
	color:#ffffff;
	font-family: Sans-serif;
	font-size:11px;
}
p, h1 {
	color: #fff;
}
